.cont{
    background-color: rgb(193, 208, 148);
}

.contactContainer{
    background-color: rgb(250, 182, 92);
}
.backimg{
	background-image: url("https://c4.wallpaperflare.com/wallpaper/413/925/249/minimalism-abstract-pattern-digital-art-wallpaper-thumb.jpg");
	 
}